---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout>
    <!-- Make aesthetic coming soon with button to back to home or to /contact -->
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center py-48">
            <p class="text-3xl font-extrabold">Coming Soon</p>
            <p class="mt-5 text-lg">This page is currently under construction. Please check back later for updates.</p>
        </div>
    </div>

</BaseLayout>