---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Casting light on</h1>
        <h1 class="text-5xl font-bold">AI literacy</h1>
        <p class="py-6">
          Gamified education platform to help Indonesian know and use AI properly and
          ethically using personalized AI.
        </p>
        <a href="/about">
        <button class="btn btn-primary">Learn More</button>
        </a>
      </div>
    </div>
  </div>
</BaseLayout>
