<footer class="footer footer-center p-10 bg-surface text-primary-content">
  <div>
    <svg
      width="100"
      height="100"
      viewBox="0 0 70 110"
      xmlns="http://www.w3.org/2000/svg"
      fill-rule="evenodd"
      clip-rule="evenodd"
      class="inline-block"
      fill="none"
      ><path
        d="M13.7056 49C18.7283 54.4793 22.5389 65.1667 24.2056 74.5C25.8723 83.8333 49.8723 82.1667 51.2056 74.5C52.5389 66.8333 58.5252 57.0246 64.2056 48C70.5 38 73.7056 2 39.7056 2C5.7056 2 2.70559 37 13.7056 49Z"
        fill="#F5DF4D"></path>
      <path
        d="M27.7223 109C31.7223 103.617 40.5 109.704 40.5 105.5C40.5 101.296 22.5 106 22.5 101.5C22.5 97 46.2926 102.651 46.2926 97.786C46.2926 92.9209 21 98.9845 21 94.5C21 89.5 46.2926 94.4687 46.2926 89.5C46.2926 84.5313 18.9834 90.1428 18.9834 85.5714C18.9834 81 35 85.5 42 83C49 80.5 47.0382 69.9894 52.5 59.5C57.9618 49.0106 64 46 64 30C64 14 49.5413 1.5 33 1.5C16.4587 1.5 1.5 15.5 1.5 32.5C1.5 49.5 13.5 54 16.5 71.5C19.5 89 33 73.5 33 66.5C33 57.7394 22.3996 48.1614 29.5 43.1927M29.5 43.1927C34.4398 39.736 52.7931 45.823 37.5 53C22.2069 60.177 30.3159 10.1317 37.5 14C44 17.5 34.1426 38.7761 29.5 43.1927ZM29.5 43.1927C22.0719 50.2593 18.9834 43.9786 17.5 41.5"
        stroke="#4D63F5"
        stroke-width="2"></path>
    </svg>
    <p class="font-bold text-4xl font-['Pacifico'] py-2">blajr</p>
    <p>Copyright © 2023 - All right reserved</p>
  </div>
  <div>
    <div class="grid grid-flow-col gap-4">
      <a href="https://www.linkedin.com/company/blajr" target="blank" rel="noopener noreferrer">
      <svg
        width="32px"
        height="32px"
        viewBox="0 0 16 16"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
          ><path
            fill="#0A66C2"
            d="M12.225 12.225h-1.778V9.44c0-.664-.012-1.519-.925-1.519-.926 0-1.068.724-1.068 1.47v2.834H6.676V6.498h1.707v.783h.024c.348-.594.996-.95 1.684-.925 1.802 0 2.135 1.185 2.135 2.728l-.001 3.14zM4.67 5.715a1.037 1.037 0 01-1.032-1.031c0-.566.466-1.032 1.032-1.032.566 0 1.031.466 1.032 1.032 0 .566-.466 1.032-1.032 1.032zm.889 6.51h-1.78V6.498h1.78v5.727zM13.11 2H2.885A.88.88 0 002 2.866v10.268a.88.88 0 00.885.866h10.226a.882.882 0 00.889-.866V2.865a.88.88 0 00-.889-.864z"
          ></path></g
        ></svg
      >
    </a>
    </div>
  </div>
</footer>
